@tailwind base; 
@tailwind components;
@tailwind utilities;  


body{
    
    height: 100%;
    margin: 0;
    padding: 0;   
    background-color:#e4e4e7;
}

header {
    background: #3d68ff;    
    padding: 15px;
    position: fixed; 
    border-bottom: 0.1em solid #0737e4;   
    box-shadow: 0 0 4px 0 rgb(7, 0, 0), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;

}

nav.bg-sidebar {
    /* background-color: rgb(0, 157, 255); */
    border-right: 0.1em solid rgb(199, 195, 195);
    border-bottom: 0.1em solid rgb(199, 195, 195);
    border-radius: 0.3em;
    background: #f4f5f7/* #3d68ff*/;
    height: 100%;    
    padding-right: 10px;
    padding-left: 10px;
    min-width: 125px;
    /* flex-basis: 1; */
    transition: min-width 0.2s ease;
}
/*bg-sidebar*/
nav.collapsed {
    min-width: 47px;
    /* flex-basis: 1; */
    transition: min-width 0.7s ease; 
    visibility:visible;
}

.upgrade-btn { background: #1947ee; }
.upgrade-btn:hover { background: #0038fd; }
.active-nav-link { 
    /* background: #1947ee;  */
    /* border-right: 5px solid #1947ee; */
    /* padding-right: 15px; */
}
.nav-item:hover { 
      /* border-right: 5px solid #1947ee; */
    /* padding-right: 15px; */
 }
.account-link:hover { background: #3d68ff; }

.nav-container {
    padding-top: 25px;
    /* border: 1px solid black; */
    min-width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-bottom{
    padding-bottom: 25px;
   
}
.main-container {
    position: relative;
    top: 55px;
    display: flex;
    flex-direction: row;
    height: 94vh;
        background-color:#e4e4e7;
        
        
    border-bottom: 1px solid black;
}

@media only screen and (max-width: 639px) {
    .main-container {
        top: 75px;
    }
}

.main-content{
  
    padding: 15px;
    display: flex;    
    justify-content: baseline;
    column-gap: 20px;
    row-gap: 10px;
    flex-flow: column wrap;    
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* align-items: baseline stretch; */
    /* border: 0.1em solid rgb(145, 118, 118); */
    width: 100%;
}

.content-block {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
  
}

.content-block-main { 
    flex-basis: 60%;
    flex-grow: 3;
    /* width: 550px; */
    /* background-color: blue; */
    border: 1px solid rgb(108, 105, 105);
    border-radius:0.6em;
    padding: 15px;
}


.content-block-right { 
    flex-grow: 1;
    /* width: 550px; */
    /* background-color: blue; */
    border: 1px solid rgb(108, 105, 105);
    /* margin-left: 15px; */
    margin-right: 5px;
    border-radius:0.6em;
    padding: 15px;
}
